
.nav_list{
    width: 270px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.home{
    color: #4757ef;

}
.navbar{
    width: 270px!important;
    position: absolute;
    
    
}
.navbar-toggler:focus{
    
    box-shadow: none
}