
.image_input{
	cursor: pointer;
	color: blue;
	
}

.input-group-text{
    width: 200px;
    background-color: white;
    border: none;
}

.PersonalInfo_div{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	width: 60%;
	/* padding-top: 1px; */
}
.PersonalInfo_img img{
	border-radius: 50%;
	width: 150px;
	height: 130px;
}
.PersonalInfo_form label{
	color: gray;
	margin-bottom: 8px;
}
.PersonalInfo_form input,textarea{
	padding: 14px;
	border: 1px solid rgb(189, 183, 183); 
	border-radius: 3px;
	width: 100%;
}
.PersonalInfo_btn {
	width: 150px;
}

@media screen and (max-width:576px){
	.PersonalInfo_img img{
	width: 120px;
	height: 120px;
}
}


@media screen and (max-width:992px) {
	.PersonalInfo_div{
		width: 100%;
		margin: 0 20px;
	}
}

.PersonalInfo_form textarea{
	width: 100%;
}